
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

:root{
    --main-color:#039D3F;
}

html{
  overflow-x: hidden;
}
body{
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden !important;
}


.nav-underline{
    color: var(--main-color) !important;
  }
  .active{
    color: var(--main-color) !important;
  }

  .active:hover{
    color: var(--main-color) !important;
  }

  .link-color{
    color: var(--main-color);
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  }
  .explore-pro{
    border-radius: 6px;
  border: 1px solid var(--main-color);
  background: none;
  display: flex;
  padding: 5px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  }
  

.mining-box{
    background-color:  #F6F6F6;
height: 676px;
}


.image-Box{
    margin-top: 12%;
}


/* .mining-text{

} */


a{
    text-decoration: none !important;
}


/* .foodImageBox{
    height: 100% !important;
} */



.installtion-box{
    background-color: #F6F6F6;
  }
  
  .box-image{
    width: 89% !important;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
    /* margin-right: 50% !important; */
    position: relative;
  left: 5%;
  }
  
  .box-image:hover{
    transform: scale(1.1);
    width: 85% !important;
  }
  .box-image{
    transition: transform 100ms ease-in-out;
  }
  .card-box{
    border-radius: 24px;
    border: 1px solid #DEDEDE;
  }
  
  .box-text{
    color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100.5%; /* 18.09px */
  }
  .insrallation-process{
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .text-arch{
    color: var(--main-color);
  }

  .box-text{
    color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100.5%; /* 18.09px */
  }

  .think-box{

    height: 355px;
    flex-shrink: 0;
    background: rgba(3, 157, 63, 0.05);
  }
  .theButtons{
    display: flex;
  width: 222px;
  height: 60px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 2px solid #039D3F;
  background: none;
  color: #039D3F;
  font-size: 20px;
  font-weight: 400;
  
  }
  .theButtons:hover{
    background: #039D3F;
    color: #F6F6F6;
  }

  .thinks-box{
    padding-top: 10%;
  }

  .footerDown-box{
    background-color: #DEDEDE;
  }



  /*=============== BREAKPOINTS ===============*/

/* Laptop-Screen */
@media only screen and (min-width: 768px) and (max-width: 1920px){
  .text-box{
    margin-top: 27%;
}
.mining-text{
  color: #039D3F;
font-size: 45px;
font-style: normal;
font-weight: 500;
line-height: 100.5%;
}
.mining-PreText{
  color: #000;
font-size: 20px;
font-style: normal;
font-weight: 500;
width: 86%;
line-height: 150.5%; /* 24.12px */
}
.all-btn{
  display: flex !important;
  padding: 13px 60px;
  gap: 10px; 
  display: flex;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 6px;
border: 2px solid #FFF;
background: #039D3F;
width: 50%;
color: #FFF !important;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.image-mining{
  width: 120% !important;
height: 623% !important;
/* flex-shrink: 0; */
}
.lorem-box{
  text-align: center;
text-align: center;
font-size: 18px;
font-style: italic;
font-weight: 400;
line-height: 140.5%; /* 18.09px */
width: 1244px;
height: 119px;
}
.think-text{
  color: #000;
  text-align: center;
font-size: 46px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
}

/* Laptop-Screen End */

/* Mobile-Screen  */
@media (min-width:320px) and (max-width:480px){
  
  .text-box{
    margin-top: 16%;
}
.mining-text{
  color: #039D3F;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: 100.5%;
}
.mining-PreText{
  color: #000;
font-size: 19px;
font-style: normal;
font-weight: 500;
width: 100%;
line-height: 150.5%; /* 24.12px */
}
.all-btn{
  display: flex !important;
  padding: 13px 60px;
  gap: 10px; 
  display: flex;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 6px;
border: 2px solid #FFF;
background: #039D3F;
width: 90%;
color: #FFF !important;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 5%;
}
.image-mining{
  width: 100% !important;
height: 623% !important;
/* flex-shrink: 0; */
}
.foodImageBox{
  width: 110% !important;
  height: 623% !important;
  margin-left: 2%;
}
.lorem-box{
display: none;
font-size: 18px;
font-style: italic;
font-weight: 400;
line-height: 140.5%; /* 18.09px */
width: 100%;
height: 119px;
}
.card-box{
  border-radius: 24px;
  border: 1px solid #DEDEDE;
  margin: 2%;
}
.think-text{
  color: #000;

font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.thinks-box{
  padding-top: 20%;
}
.icon-box{
  margin-left: 18% !important;
}
}
/* Mobile-Screen End  */